# Exclude virtual environments
venv/

# Exclude Python cache
__pycache__/

# Exclude Git folder
.git/

# Exclude environment variables
.env

# Exclude database files (optional if you don’t want jobs.db and jobs.sql in GitHub)
*.db
*.sql
